@use "./base.scss";

// put your custom CSS here!

body {
  font:
    400 15.3px/1.6 "Bitter",
    "Hiragino Sans GB",
    "Microsoft Yahei",
    "微软雅黑",
    "Bitter",
    sans-serif;
  color: #111;
  background-color: #fdfdfd;
}

@media screen and (min-width: 600px) {
  body {
    padding: 0 5%;
    font:
      400 18px/1.8 "Bitter",
      "Hiragino Sans GB",
      "Microsoft Yahei",
      "微软雅黑",
      "Bitter",
      sans-serif;
  }
}

a {
  color: #2a7ae2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  margin-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  font-weight: 400;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  height: 1px;
  background: linear-gradient(left, transparent, rgba(0, 0, 0, 0.5), transparent);
}

.wrapper {
  max-width: calc(800px - 30px) !important;
  margin-right: auto !important;
  margin-left: auto !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
}

@media screen and (min-width: 800px) {
  .wrapper {
    max-width: calc(800px - 60px) !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
}

.home {
  margin-top: 30px;
}

article {
  margin-top: 3.2rem;
  margin-bottom: 30px;
}

article h2 {
  font-size: 31.5px;
}

article h3 {
  font-size: 24.75px;
}

blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
}

.about-avatar {
  padding: 1px;
  border: 1px solid #e8e8e8;
  width: 10rem;
  height: 10rem;
  margin: 0 2rem 0 0;
  border-radius: 5px;
}

/* Override Quartz defaults */
.page {
  max-width: 100% !important;
  margin: 0 !important;
  width: 100% !important;

  >#quartz-body {
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
  }
}

.page-content {
  flex: 1 0 auto;
}

.sidebar {
  display: none !important;
}

.page-header {
  display: none !important;
}

/* Post list overrides */
ul.post-list li {
  display: flex !important;
  flex-direction: row !important;
  align-items: baseline !important;
}

.post-meta {
  width: 90px !important;
  min-width: 90px !important;
  flex-shrink: 0 !important;
}

.post-link-layout {
  margin-left: 10% !important;
}

@media (max-width: 500px) {
  .post-meta {
    width: 65px !important;
    min-width: 65px !important;
  }
}